{#
/**
 * @file
 * Module settings page theme implementation to display the form.
 *
 * Available variables:
 * - form: The module settings form.
 * - auth_url: URL to get authorization.
 * - revoke_url: URL to revoke authorization.
 */
#}

<div style="display: flex; justify-content: space-between;">
  <div>{{ form }}</div>
  <div style="width: 50%;">
    {% trans %}Before you make requests to Bigin API endpoints, register your application (client) with Bigin's Authorization server.{% endtrans %}
    <ul>
      <li>{% trans %}Go to <a href="https://api-console.zoho.com/" target="_blank">Zoho API Console</a>.{% endtrans %}</li>
      <li>{% trans %}Select a client type: Server-based Applications{% endtrans %}</li>
      <li>{% trans %}Fill out client details{% endtrans %}</li>
        <b>{% trans %}Client Name:{% endtrans %}</b> {% trans %}Type the name of the application.{% endtrans %}<br>
        <b>{% trans %}Homepage URL:{% endtrans %}</b> {% trans %}Provide the home page URL of your application.{% endtrans %}.<br>
        <b>{% trans %}Authorized Redirect URIs:{% endtrans %}</b> 
        {% trans %}Provide a webpage URL of your application to which the accounts URL redirects you with an authorization code after the user successful validation.{% endtrans %}
      <li>{% trans %}Click CREATE.{% endtrans %}</li>
        {% trans %}You will receive the following credentials:{% endtrans %}
      <ul>
        <li><b>{% trans %}Client ID{% endtrans %}</b></li>
        <li><b>{% trans %}Client Secret{% endtrans %}</b></li>
      </ul>
    </ul>
    <p>{% trans %}After to register your application you can Get access token.{% endtrans %}</p>
    {% if revoke_url %}
      <a href="{{ revoke_url }}">{% trans %}Revoke authorization{% endtrans %}</a>
    {% else %}
      <a class="button button--secondary" href="{{ auth_url }}">{% trans %}Get access token{% endtrans %}</a>
    {% endif %}
  </div>
</div>
